---
layout: my-layout
---


# Prevision Windy, modèle Arome
page mise à jour le {{ now }}

{% if weekPrediction.items() | length == 0 %}
Ca ne vole nul part malheureusement 😢
{% endif %}

{% for day, spots in weekPrediction.items() -%}

## {{ day }}

{% for spot, slots in spots.items() -%}

### {{ spot }}

{% if slots[0].balise is not none %}[BALISE]({{ slots[0].balise }}) - {% endif %} [WINDY]({{ "https://windy.com/"  + slots[0].url }})

{% for slot in slots -%}

- {{ slot.hour }} : {{ slot.meanWind }}-{{ slot.maxWind }}km/h, {{ slot.direction }}, Pluie: {{ slot.precipitation if slot.precipitation != '' else '-' }}

{% endfor %}
{% endfor %}
{% endfor %}