---
layout: my-layout
---

# Analyse du {{ now }}

{% for day, spots in weekPrediction.items() -%}
## {{ day }}
{% for spot, slots in spots.items() -%}
### {{ spot }}
{% for slot in slots -%}
- {{ slot.hour }} : {{ slot.meanWind }}-{{ slot.maxWind }}km/h, {{ slot.direction }}, Pluie: {{ slot.precipitation if slot.precipitation != '' else '-' }}
{% endfor %}
{% endfor %}
{% endfor %}